@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display+SC&display=swap');

h1 {
  font-family: 'Playfair Display SC', serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

#content p:first-child::first-letter {
   font-family: 'Playfair Display SC', serif;
   font-weight: bold;
   font-size: 3em;
}

#content p{
  text-indent: 3em;
}

/*Had to add this or the Big L (above) would make spacing weird*/
.container p:first-child::first-line {
  line-height: 0.9em;
}
